<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- official nuget.org caching mirror -->
        <add key="nuget.nefarius.at" value="https://nuget.nefarius.at/v3/index.json" protocolVersion="3" />
        <!-- experimental and pre-release packages -->
        <add key="baget.nefarius.at" value="https://baget.nefarius.at/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>